#eggy-logo {
  width: 12%;
  padding-left: 40px;
}
.top-header {
  display: flex;
  margin: 0;
  position: fixed;
  width:100%;
  top: 0;
  left: 0; /* Ensure it's pinned to the left */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Example background color */
  color: #fff; /* Example text color */
  padding: 10px; /* Adjust padding */
  z-index: 1000; /* Ensure it's above other content */
}
.header-options {
  display: flex;
  color: black;
  font-family: "Outfit";
  font-size: 20px;
  margin-left: 50%;
  cursor: pointer;
}
.opt-titles {
  margin-right: 20px;
}
.header-options a {
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.header-options :hover {
  text-decoration: underline; /* Add underline when hovered */
  text-decoration-color: #ffa800;
  text-decoration-thickness: 5px;
  transition: all 0.3s ease;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top-profile {
  order: 1; /* Move "Home" to the left */
  display: flex;
  position: relative;
  cursor: pointer;
  background-color: #ffa800;
  border: none; /* Remove border */
  color: #fff;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  width: 70px; /* Adjust width to whatever you need */
  height: 70px; /* Adjust height to match width for a perfect circle */
  margin-right: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.options {
  visibility: hidden;
  position: absolute;
  top: calc(100%);
  left: -50%; /* Position options on the left side */
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 200%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-profile:hover .options {
  visibility: visible;
}

#go-profile {
  display: block;
  width: 100%;
  background-color: #ffa800;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}
#go-profile:hover,
#logout:hover {
  background-color: #ff5300;
}
#logout {
  display: block;
  width: 100%;
  background-color: #fff;
  color: black;
  border: 2px solid #ffa800; /* Added solid border */
  border-radius: 50px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}
#profile-pic {
  width: 80%;
  margin-left: 7px;
  border-radius: 50%;
}
#establishment-title {
  margin-top: 9%;
  margin-left: 6%;
  font-size: 30px;
  width: auto; /* Adjust the width */
  padding-right: 30%;
  margin-bottom: 0;
  font-family: "Outfit";
}
.top-display {
  display: flex;
}
hr {
  height: 2px; /* Adjust the height as needed */
  background-color: #e6e6e6; /* Change the color if desired */
  border: none; /* Remove default border */
  margin: 20px 0; /* Adjust margin top and bottom */
  margin-left: 90px;
  width: 88%;
}
  #back-button{
    align-items: center;
    align-content: center;
    margin-left: 1%;
    margin-top: 200px;
    font-size: 50px;
    margin-bottom: 0;
    font-family: "Outfit";
    color: #ffa800;
  }
 #back-link{
    margin-right: -32%;
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 0;
    font-family: "Outfit";
    color: #ffa800;
  }
  .back-button-container{
    display: flex;
  }
  #back-arrow{
    width: 10%;
    margin-top: 7%;
    margin-left: 7%;
    margin-bottom: 1%;
  }
  .establishment{
    margin-left: 75px;
    margin-right: 120px;
    border: solid;
    border-radius: 10px;
    border-color: #ffa800;
    border-width: 1px;
    display: flex;
  }
  .establishment-left{
    margin-left: 2%;
    margin-top: 2%;

    margin-bottom: 2%;
    width: 1400px;
    }

  
  .establishment-profile{
    display:flex;
  }
  
  .chimmy-photo{
    width: 88px;
    height: 88px;
    border-radius: 50px;
  }
  .establishment-profile-text{
    margin-left: 20px;

  }
  .establishment-name{
    margin-top: 1px;
    font-family: "Dhyana";
    font-size: 24px;
  }
  .establishment-username{
    margin-top: -25px;
    font-family: "Dhyana";
    color: #8e8888;
    font-size: 16px;
    font-weight: lighter;
  }
  .owner-diamond{
    display:flex;
  }
  .diamond-photo{
    width: 20px;
    height: 16px;
    margin-top: 15px;
    margin-left: 15px;
  }
  
  .rating-font{
    font-weight: bold;
    font-size: 36px;
  }
  
  .establishment-top-right{
    font-family: "DM Sans";
    margin-left: 1200px;
    font-size: 24px;
    color:#ffa800;
    margin-top: -80px;
  }

  .stars{
    width: 35px;
  }

  .resto-name{
    font-family: "Outfit";
    margin-top: 32px;
  }
  .establishment-desc{
    font-family: "Outfit";
    font-weight: 300;
    font-size: 22px;
  }

  .estabslishment-right{
    display:flex;
    justify-content: center;
    align-items: center;
  }


  .slider{
    width: 640px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 640px;
    height: 400px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 640px;
    margin-top: -150px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #ffa800;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #ffa800;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 640px;
    justify-content: center;
    margin-top: 350px;
  }
  
  .navigation-auto div{
    border: 2px solid #ffa800;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ffa800;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ffa800;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ffa800;
  }
  
  .establishment-right-content{
    margin: 5%;
  }

  .post-button{
    background-color: #ffa800;
    border: solid #ffa800;
    color: #fff;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    width: 5%;
    display: flex;
    padding: .7%;
    margin-top: 15px;
    margin-left: 3%;
  }
  
  .post-text{
    margin:auto;
    font-size: 26px;
    font-family: "Inter";
    font-weight: bold;
  }

  .post-button:hover{
  background-color: white;
  width: 5%;
  color: #ffa800;
  }

  .review-line{
    display:flex;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 2%;
    width: 92.5%;
    border-bottom: solid;

  }

  .reviews{
    font-family: "Inter";
    font-weight: bold;
    font-size: 32px;
  }
  
  .default-button{
    background-color: #ffa800;
    border: solid #ffa800;
    color: #fff;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    width: 6%;
    height: 60px;
    display: flex;
    margin-left: 78%;
  }

  .default-button-text{
    margin:auto;
    font-size: 20px;
    font-family: "Inter";
    font-weight:500;
  }


  .top-review-button{
    background-color: white;
    border: solid #ffa800;
    color: #ffa800;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    width: 6%;
    height: 60px;
    display: flex;
    margin-left: 1%;
  }

  .top-review-button-text{
    margin:auto;
    font-size: 20px;
    font-family: "Inter";
    font-weight:500;
  }

  .top-review-button:hover{
    background-color: #ffa800;
    width: 6%;
    color: white;
    }

  .line{
    border-bottom: solid black;
  }

  .review{
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 4.5%;
    border: #ffa800 solid;
    border-radius: 10px;
    border-width: 1px;
    width: 92.5%;
  }

  .review-left{
    margin-left: 2%;
    margin-top: 2%;
    width: 70%;
  }
  
  .review-left-top-profile{
    display: flex;
  }

  .review-profile-photo{
    width: 88px;
    height: 88px;
    border-radius: 50px;
  }

  .review-left-top-profile-text{
    margin-left: 2%;
    width: 500px;
  }
  .review-profile-name{
    margin-top: 1px;
    font-family: "Dhyana";
    font-size: 24px;
    font-weight: bold;
  }
  .review-username{
    font-family: "Dhyana";
    color: #8e8888;
    font-size: 16px;
    font-weight: lighter;
  }

  .settings{
    width: 40%;
    font-family: "Inter";
    font-size: 18px;
    color: #8e8888;
    margin-left: 1000px;
  }
  .settings-photo{
    width: 55px;
    margin-left: 0px;
  }
  .review-title{
    font-size: 32px;
    font-family: "outfit";
    font-weight: bold;
    margin-left: 7.5%;
  }
  .review-desc{
    font-size: 22px;
    font-family: "outfit";
    font-weight:300;
    margin-left: 7.5%;
    margin-top: 1%;
  }
  .rating-random, .rating-random-2{
    display: flex;
    margin-left: 7.5%;
  }

  .rating-random{
    margin-top: 3%;
  }
  .rating-1, .rating-2{
    font-family: "DM Sans";
    font-size: 30px;
    display: flex;
  }


  .rating-food, .rating-service, .rating-ambiance, .rating-overall{
    width: 350px;
    display:flex;
  }


  .stars-1{
    width: 35px;
    margin-top: 5px;
  }
  .stars-rating{
    margin-left: 4%;
  }

  .food-text
  {
    margin-right: 9%;
  }

  .overall-text{
    margin-right: 12%;
  }
  
  .review-photo{
    width: 350px;
  }

  .review-pic{
    margin-top: 15%;
    margin-left: 30%;
  }

  .review-whole{
    display: flex;
  }

  .vote{
    display: flex;
    margin-left: 30%;
  }

  .owner-comment{
    margin-left: 7%;
    margin-top: 2%;
    background-color: lightgrey;
    border-radius: 50px;
    padding: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
  }

  .owner-text{
    font-size: 22px;
    font-family: "outfit";
    font-weight:300;
    margin-top: 1%;
  }

  .post-ratings-container {
    display: flex;
    justify-content: end;
    padding: 12px 0;
  }
  
  .post-rating {
    display: flex;
    align-items: center;
    cursor: default;
    font-family: "Inter";
    font-size: 20px;
  }

  .post-rating:not(:last-child) {
    margin-right: 30px;
  }
  
  .post-rating-selected > .post-rating-button,
  .post-rating-selected > .post-rating-count {
    color: #ffa800;
  }
  
  .post-rating-button {
    margin-right: 6px;
    cursor: pointer;
    color: #555555;
  }
  
  .post-rating:not(.post-rating-selected) > .post-rating-button:hover {
    color: #ffa800;
  }

  .helpful{
    padding-right: 40px;
  }

  .search{
    margin-left: 1700px;
    margin-top: 1%;
  }

  .search input{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    padding-left: 20px;
  }

  .search-form{
    display:flex;
  }

  .search-input::placeholder{
    font-family: "Inter";
    font-size: 22px;
  }

  .search-form button {
    margin-left: 10px;
    float: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ffa800;
    color: white;
    font-size: 30px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .search-form button:hover {
    background: #ff5300;
  }
  

  .post-button{
    background-color: #ffa800;
    border: solid #ffa800;
    color: #fff;
    align-items: center;
    align-content: center;
    border-radius: 50px;
    width: 5%;
    display: flex;
    padding: .7%;
    margin-top: 15px;
    margin-left: 3%;
  }
  
  .post-text{
    margin:auto;
    font-size: 26px;
    font-family: "Inter";
    font-weight: bold;
  }

  .post-button:hover{
  background-color: white;
  width: 5%;
  color: #ffa800;
  }

  .post-popup{
    padding: 18px 40px;
    background: #ffa800;
    border:none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0-1);
    cursor: pointer;
    font-size: 26px;
    font-family: "Inter";
    font-weight: bold;
    margin-top: 15px;
    margin-left: 3%;
  }

  .post-popup-profile-photo{
    width: 88px;
    height: 88px;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 30px;
  }

  .post-popup-first-row{
    display:flex;
    height: 300px;
  }

  .post-popup-container, .post-popup-container-2{
    width: 1200px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border: solid #ffa800;
    border-radius: 50px;
  }

  .post-popup-close-button, .owner-popup-close-button{
    background: white;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 26px;
    font-family: "Inter";
    font-weight: bold;
  }

  .post-popup-title, .owner-popup-title{
    font-family: "Outfit";
    font-size: 36px;
    margin-bottom: 10px;
  }

  .post-popup-desc, .owner-popup-desc{
    font-family: "Outfit";
    font-size: 18px;
  }

  .post-popup-middle{
    margin-left: 14%;
    margin-right: 2%;
    margin-top: -150px;

  }

  .addphoto{
    width: 66px;
    height: 66px;
    margin-left: 4%;
    cursor: pointer;
  }

  .post-popup-bottom-container{
    border-top: black solid;
    border-width: 1px;
    margin-top: 5%;
  }

  .post-popup-bottom{
    display: flex;
    margin-top: 1%;

  }

  .save-post-popup{
    padding: 18px 40px;
    background: #ffa800;
    border:none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0-1);
    cursor: pointer;
    font-size: 26px;
    color: white;
    font-family: "Inter";
    font-weight: bold;
    margin-left: 970px;
  }

  .dropdown button{
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
  }

  .dropdown{
    display: inline-block;
}
.dropdown button{
    background-color:white;
    color: black;
    border: none;
    cursor: pointer;
    display: block;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    margin-left: 100px;
}
.dropdown:hover .content{
    display: block;
}

.edit-button, .edit-button-2 {
  border:none;
  outline: none;
  cursor: pointer;
  font-size: 26px;
  font-family: "Inter";
  font-weight: bold;
}

.del-button, .del-button-2{
  border:none;
  outline: none;
  cursor: pointer;
  font-size: 26px;
  font-family: "Inter";
  font-weight: bold;
}

  
  AKLSDJAKLDAJKDAJALKDJ


  .edit-popup-profile-photo{
    width: 88px;
    height: 88px;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 30px;
  }

  .edit-popup-first-row{
    display:flex;
    height: 300px;
    margin-top: 1%;
  }

  .edit-popup-container, .edit-popup-container-2{
    width: 1250px;
    height: 650px;
    justify-content: center;
    border: solid #ffa800;
    border-radius: 50px;
    align-items: center;
  }

  .edit-popup-close-button{
    background: white;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 26px;
    font-family: "Inter";
    font-weight: bold;
  }

  .edit-popup-title{
    font-family: "Outfit";
    font-size: 36px;
    margin-bottom: 10px;
  }

  .edit-popup-desc{
    font-family: "Outfit";
    font-size: 18px;
  }

  .edit-popup-middle{
    margin-left: 14%;
    margin-right: 2%;
    margin-top: -150px;

  }



  .edit-post-popup{
    padding: 18px 40px;
    background: #ffa800;
    border:none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0-1);
    cursor: pointer;
    font-size: 26px;
    color: white;
    font-family: "Outfit";
    font-weight: bold;
    margin-left: 970px;
  }

.edit-toprow{
  display:flex;
  border-bottom: black solid;
  border-width: 1px;
}

.edit-popup-header{
  font-size: 40px;
  font-weight: bold;
  margin-left: 42%;
  margin-bottom: 1%;
  color:#ffa800;
}

.edit-photo{
  width: 250px;
  height: 250px;
}

.edit-save-popup-button, .edit-save-popup-button-2  button{
  background-color: #ffa800;
  border: solid #ffa800;
  color: #fff;
  align-items: center;
  align-content: center;
  border-radius: 50px;
  display: flex;
  font-family: "Outfit";
  font-size: 26px;
  margin-left: 420px;
}

.delete-popup-container, .delete-popup-container-2{
  width: 700px;
  height: 300px;
  justify-content: center;
  align-items: center;
  border: solid #ffa800;
  border-radius: 50px;
}

.delete-header{
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.delete-middle{
  font-size: 32px;
  align-items: center;
  text-align: justify;
  font-weight: 200;
}

.delete-bottom{
  display:flex;
  margin-top: 30px;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}
.delete-bottom button {
  padding: 14px 36px;
  background: #ffa800;
  border:none;
  color:white;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0-1);
  cursor: pointer;
  font-size: 22px;
  font-family: "Inter";
}

.delete-bottom button:hover{
  background: #ff5300;
}

.material-symbols-outlined{
  background-color: lightgrey;
  font-size: 40px !important;
}

.settings-button{
  border:none;
  outline: none;
  margin-left: 100px;
}

.dropdown-1 button{
  border: none;
  outline: none;
  background-color: lightgrey;
  cursor: pointer;
}

.dropdown-1{
  display: inline-block;
}
.dropdown-1 button{
  background-color:lightgrey;
  color: black;
  border: none;
  cursor: pointer;
  display: block;
}

.dropdown-1 .content{
  display: none;
  position: absolute;
  background-color: lightgrey;
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
  margin-left: 100px;
}

.dropdown-1:hover .content{
  display: block;
}

.owner-settings{
  margin-left: 1250px;

}

.date-owner{
  font-family: "Inter";
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.owner-reply-container{
  width: 1200px;
  height: 380px;
  justify-content: center;
  align-items: center;
  border: solid #ffa800;
  border-radius: 50px;
}

.owner-popup-middle{
margin-top: 20px;
margin-left: 10px;

}

.owner-popup-profile {
  margin-top: 20px;
}

.owner-popup-middle{
  margin-left: 11.5%;
  margin-right: 5%;
  margin-top: -200px
}

.owner-save-post-popup{
  padding: 18px 40px;
  background: #ffa800;
  border:none;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0-1);
  cursor: pointer;
  font-size: 26px;
  color: white;
  font-family: "Inter";
  font-weight: bold;
  margin-left: 1000px;
}

.owner-reply-whole{
  margin-left: 25%;
  margin-top: -50px;
}
.owner-reply-button{
  padding: 18px 40px;
  background: #ffa800;
  border:none;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0,0,0-1);
  cursor: pointer;
  font-size: 26px;
  color: white;
  font-family: "Inter";
  font-weight: bold;
}

.extra{
  display: none;
}

p{
  display:inline;
}

input[type="checkbox"]{
  height: 2em;
  display: block;
  appearance: none;
}

label[for="btn"]{
  position: relative;
  color: #ffa800;
  cursor:pointer;
}

label[for="btn"]:before{
  content: "Show More";
}

input[type="checkbox"]:checked ~ .label[for="btn"]:before{
  content: "Show Less";
}

.dots:has(~input[type="checkbox"]:checked){
  display: none;
}

.extra:has(~input[type="checkbox"]:checked){
  display: inline;
}