body {
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Allow vertical scrolling */
}
#eggy-logo {
  width: 12%;
  padding-left: 40px;
}
.top-header {
  display: flex;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0; /* Ensure it's pinned to the left */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Example background color */
  color: #fff; /* Example text color */
  padding: 10px; /* Adjust padding */
  z-index: 1000; /* Ensure it's above other content */
}
.header-options {
  display: flex;
  color: black;
  font-family: "Outfit";
  font-size: 20px;
  margin-left: 50%;
  cursor: pointer;
}
.opt-titles {
  margin-right: 20px;
  color: black;
}

.opt-titles-curr {
  margin-right: 20px;
  text-decoration: underline; /* Add underline when hovered */
  text-decoration-color: #ffa800;
  text-decoration-thickness: 5px;
}
.header-options a {
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
.header-options :hover {
  text-decoration: underline; /* Add underline when hovered */
  text-decoration-color: #ffa800;
  text-decoration-thickness: 5px;
  transition: all 0.3s ease;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top-profile {
  order: 1; /* Move "Home" to the left */
  display: flex;
  position: relative;
  cursor: pointer;
  background-color: #ffa800;
  border: none; /* Remove border */
  color: #fff;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  width: 70px; /* Adjust width to whatever you need */
  height: 70px; /* Adjust height to match width for a perfect circle */
  margin-right: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.options {
  visibility: hidden;
  position: absolute;
  top: calc(100%);
  left: -50%; /* Position options on the left side */
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 200%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-profile:hover .options {
  visibility: visible;
}

#go-profile {
  display: block;
  width: 100%;
  background-color: #ffa800;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}
#go-profile:hover,
#logout:hover {
  background-color: #ff5300;
}
#logout {
  display: block;
  width: 100%;
  background-color: #fff;
  color: black;
  border: 2px solid #ffa800; /* Added solid border */
  border-radius: 50px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}
#profile-pic {
  width: 80%;
  margin-left: 7px;
  border-radius: 50%;
}
#establishment-title {
  margin-top: 9%;
  margin-left: 6%;
  font-size: 30px;
  width: auto; /* Adjust the width */
  padding-right: 30%;
  margin-bottom: 0;
  font-family: "Outfit";
}
.top-display {
  display: flex;
}
hr {
  height: 2px; /* Adjust the height as needed */
  background-color: #e6e6e6; /* Change the color if desired */
  border: none; /* Remove default border */
  margin: 20px 0; /* Adjust margin top and bottom */
  margin-left: 90px;
  width: 88%;
}
#search-bar {
  margin-top: 22%;
  margin-left: 35%;
  font-size: 20px;
  height: 20px; /* Adjust the height as desired */
  width: 500px;
  border-radius: 20px; /* Adjust the border radius as desired */
  padding: 10px; /* Add padding to ensure the rounded corners are visible */
  border: 2px solid #ffa800; /* Set the border color to yellow */
}

#search-form {
  display: flex;
  justify-content: flex-end;
}

#search-button {
  margin-top: 22%;
  font-size: 18px;
  margin-left: -10%;
  border-radius: 20px;
  border: 2px solid #ffa800;
  padding: 10px;
  background-color: #ffa800;
  color: white;
  cursor: pointer;
}
#search-button:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#button-submit {
  margin: 0;
  padding: 0;
}
.main-searched-container {
  border: 2px solid #ffa800; /* Added solid border */
  margin: 0;
  padding: 1%;
  border-radius: 20px; /* Adjusted border radius to create rounded edges */
  width: 80%;
  margin-right: 25px;
  margin-left: 140px;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s; /* Add transition for smooth effect */
}
.main-searched {
  display: flex;
}
#resto-pic {
  width: 20%;
  border-radius: 20px;
  margin: 0;
  bottom: 0;
}
#resto-name {
  margin: 0;
  margin-top: 5%;
  padding: 1%;
  font-size: 30px;
  margin-left: 20px;
  width: 200%;
  font-family: "Outfit";
  align-items: center;
  align-content: center;
}
.title-bar-box {
  margin: 0;
  padding: 0;
  margin-top: -2%;
}
.ratings {
  display: flex;
  width: 50%;
}
#rate {
  margin: 0;
  padding-top: 15%;
  width: auto; /* Allow the browser to determine the width */
  height: 20px; /* Adjust the height to maintain the aspect ratio */
  padding-left: 9px;
}

.footer {
  background-color: #ffa800;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 1499px;
}
#footer-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.top-part {
  display: flex;
}

.star {
  width: 44px;
  height: 44px;
  margin-top: 2%;
}

.top-part,
.bottom-part {
  font-family: "Outfit";
}

.top-left {
  font-size: 48px;
  font-weight: bold;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 50%;
}

.top-right {
  font-size: 38px;
  color: #ffa800;
  margin-top: 2%;
  margin-right: 1.5%;
}

.bottom-part-container {
  margin-left: 2%;
}

.bottom-part {
  font-weight: light;
}
