.sticky {
    position: fixed;
    top: 0;
    width: 100%
} 

.marginleft-5{
    margin-left: 5%;
}

.marginleft-10{
    margin-left: 10%;
}

.marginleft-15{
    margin-left: 15%;
}

.marginleft-20{
    margin-left: 20%;
}

.italic{
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffa800;
    display: flex;

    position: fixed;

    margin: 0;
    padding: 0;

    box-shadow: 0px 3px 4px 1px rgba(0,0,0,.4);

    height: 100px;
    width: 100%;
}

footer {
    background-color: #ffa800;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    height: 80px;

}

footer > h1 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.right-container {
    margin-left: auto;

    width: 30%;
    height: 100px;

    display: flex;
    align-items: center;
}   

.right-container > button {
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    padding: 2% 8%;
    background-color: white;
    text-align: center;
    color: black;
    margin-right: 20px;
}

#signup:hover {
    background-color: #ff5300;
    color: white;
    border-color: #ff5300;
}

#log-in:hover{
    background-color: #ff5300;
    color: white;
    border-color: #ff5300;
}

#avatar-logo:hover{
    transform: scale(1.3);
}

.right-container > img {
    border-radius: 50%;
    
    height: 40px;
    width: 40px;


    border-style: solid;
    border-width: 1px;
}

.logo-container {
    box-shadow: 2px 3px 4px 1px rgba(0,0,0,.4);
    background-color: white;

    border-radius: 45px;

    height: 90px;
    width: 200px;

    margin-left: 5%;
    margin-top: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container > img {
    border-width: 1px;
    height: 75px;
    width: 160px;
}

.parent-div {
    width: 100%;
    height: 1000px;
    display: flex;
}

.left-section{
    width: 60%;
    height: 1000px;
}

.imgdiv{
    box-sizing: border-box; /* to prevent padding from making the div bigger*/
    width: 100%;
    height: 620px;

    padding-left: 150px;
    padding-top: 200px;
    
}

.imgdiv > img {
    height: 500px;
    width: 680px;

    border: 5px solid #ffa800;

    border-radius: 30px;
}

.buttondiv {
    width: 100%;
    height: 200px;

    box-sizing: border-box; /* to prevent padding from making the div bigger*/
    padding-left: 150px;
    padding-top: 120px;
}

.establishments-button {
    position: absolute;
    top: 810px;
    left: 150px;

    border-radius: 30px;
    width: 690px;
    height: 60px;

    border-width: 0px;

    background-color: #ffa800;

    color: white;

    font-family: "Outfit";
    font-size: 30px;

    box-shadow: 2px 3px 3px 1px rgba(0,0,0,.1);

}

.establishments-button:hover {
    transform: scale(1.05);
    background-color: #ff5300;
}

#previous-button {
    border-color: black;
    border-width: 1px;
    border-radius: 30px;
    border-style: solid;
    /*padding: 13px 50px;*/
    height: 50px;
    width: 200px;
    background-color: white;
    text-align: center;
    color: black;
    margin-right: 10px;
}

#previous-button:hover {
    background-color: #ffa800;
    color: white;
    border-color: #ffa800;
}

#next-button:hover {
    background-color: #ffa800;
    color: white;
    border-color: #ffa800;
}

#next-button {
    border-color: black;
    border-width: 1px;
    border-radius: 30px;
    border-style: solid;
    /*padding: 13px 50px;*/
    height: 50px;
    width: 200px;
    background-color: white;
    text-align: center;
    color: black;

    position: absolute;
    left: 640px;

    margin-right: 10px;
}

.right-section{
    width: 40%;
    height: 850px;

    padding-top: 120px;
    
    display: block;
}

.restotitle-parent {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
}

.restotitle-container {
    background-color: #ff5300;
    width: 450px;
    height: 80px;

    margin-top: 80px;
    border-radius: 40px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.restotitle-container > h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.review-title-container{
    width: 450px;
    height: 50px;
    margin: auto;

    box-sizing: border-box; /* to prevent padding from making the div bigger*/
    padding-top: 7px;

    border-bottom: 3px solid black;
}

.review-title-container > h2 {
    margin: 0;
    font-family: "Outfit";
}

.reviews-cotainer{
    width: 450px;
    height: 630px;

    margin: auto;

    display: block;
}

.review-popup {
    background-color: #F1E4E4;
    width: 380px;
    height: 150px;

    display: flex;

    border-radius: 35px;

    box-shadow: 0px 3px 4px 1px rgba(0,0,0,.4);

    box-sizing: border-box; /* to prevent padding from making the div bigger*/
}

.review-popup:hover{
    transform: scale(1.1);
}

#first-review > h3 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px; 
}

#third-review > h3 {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px; 
}

#first-review{
    margin-top: 20px;
    padding-right: 50px;
}

#third-review {
    padding-right: 50px;
}

#second-review{
    padding-left: 50px;
}

#first-review, #second-review {
    margin-bottom: 20px;
}

#second-review {
    margin-left: auto;
}

.left-review-popup-odd {
    width: 114px;
    height: 150px;

    display: flex;
    justify-content: center;

    padding-top: 25px;
}

.left-review-popup-odd > img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.right-review-popup-odd {
    width: 266px;
    height: 150px;
    display: block;
}

.left-review-popup-even > h3{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.left-review-popup-even > p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}


.right-review-popup-odd > h3{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2px; 
    margin-top: 20px;
}

.right-review-popup-odd > p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.checked {
    color: orange;
}

.left-review-popup-even {
    width: 266px;
    height: 150px;

    text-align: right;
}

.right-review-popup-even {
    width: 114px;
    height: 150px;

    display: flex;
    justify-content: center;

    box-sizing: border-box; /* to prevent padding from making the div bigger*/
    padding-top: 25px;
}

.right-review-popup-even > img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.popup-login { 
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 1100px;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-login-content {
    height: 300px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;

    box-sizing: border-box; /* to prevent padding from making the div bigger*/
    padding: 50px;

    border: 2px solid #ffa800;

    position: relative;
}

.popup-login-content > img {
    height: 50px;
    width: 100px;
}

.popup-login-content > input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border-width: 1px;

    margin: 20px auto;
    display: block;

    box-sizing: border-box; /* to prevent padding from making the div bigger*/
    padding-left: 5px;
}

.popup-login-content > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: -65px;
    right: -40px;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  #ffa800;

    cursor: pointer;
}

.login-button {
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
    padding: 5px 10px;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 15px;
}

.login-button:hover {
    background-color:#ffa800;
    color: white;
    border-color: #ffa800;
}


.popup-signup { 
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 1100px;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-signup-content {
    height: 300px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;

    box-sizing: border-box; /* to prevent padding from making the div bigger*/
    padding: 35px;

    border: 2px solid #ffa800;

    position: relative;
}

.popup-signup-content > img {
    height: 50px;
    width: 100px;
}

.popup-signup-content > input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border-width: 1px;

    margin: 20px auto;
    display: block;

    box-sizing: border-box; /* to prevent padding from making the div bigger*/
    padding-left: 5px;
}

.popup-signup-content > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: -65px;
    right: -40px;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:  #ffa800;

    cursor: pointer;
}

#footer-text {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: white;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f9e075;
    border-radius: 50%;
    display: inline-block;
}

#firstdot {
    margin-left: 80px;
}

.active {
    background-color: #ffa800;
}

