

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.marginleft-5 {
  margin-left: 5%;
}

.marginleft-10 {
  margin-left: 10%;
}

.marginleft-15 {
  margin-left: 15%;
}

.marginleft-20 {
  margin-left: 20%;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.top-header {
  visibility: visible;
  display: flex;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0; /* Ensure it's pinned to the left */
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffa800; /* Example background color */
  color: #fff; /* Example text color */
  padding: 10px; /* Adjust padding */
  z-index: 1000; /* Ensure it's above other content */
}

.header-options {
  display: flex;
  color: #fff;
  font-family: "Outfit";
  font-size: 20px;
  margin-left: 770px;
  cursor: pointer;
}

.opt-titles {
  margin-right: 20px;
}

.opt-titles-curr {
  margin-right: 20px;
  text-decoration: underline; /* Add underline when hovered */
  text-decoration-color: white;
  text-decoration-thickness: 5px;
}

.top-profile {
  order: 1; /* Move "Home" to the left */
  display: flex;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  border: none; /* Remove border */
  color: #fff;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  width: 70px; /* Adjust width to whatever you need */
  height: 70px; /* Adjust height to match width for a perfect circle */
  margin-left: 25px;
  margin-right: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-profile:hover .options {
  visibility: visible;
}

#eggy-logo {
  width: 12%;
  padding-left: 40px;
}

#profile-pic {
  width: 80%;
  margin-left: 7px;
  border-radius: 50%;
}

.options {
  visibility: hidden;
  position: absolute;
  top: calc(100%);
  left: -50%; /* Position options on the left side */
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 200%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-profile:hover .options {
  visibility: visible;
}

#go-profile {
  display: block;
  width: 100%;
  background-color: #ffa800;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

#go-profile:hover,
#logout:hover {
  background-color: #ff5300;
}

#logout {
  display: block;
  width: 100%;
  background-color: #fff;
  color: black;
  border: 2px solid #ffa800; /* Added solid border */
  border-radius: 50px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

#profile-pic {
  width: 80%;
  margin-left: 7px;
  border-radius: 50%;
}

.header-options a {
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.header-options :hover {
  text-decoration: underline; /* Add underline when hovered */
  text-decoration-color: #fff;
  text-decoration-thickness: 5px;
  transition: all 0.3s ease;
}

footer {
  background-color: #ffa800;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  height: 80px;
}

footer > h1 {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.right-container {
  margin-left: auto;

  width: 30%;
  height: 100px;

  display: flex;
  align-items: center;
}

.right-container > button {
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  padding: 2% 8%;
  background-color: white;
  text-align: center;
  color: black;
  margin-right: 20px;
}

#signup:hover {
  background-color: #ff5300;
  color: white;
  border-color: #ff5300;
}

#log-in:hover {
  background-color: #ff5300;
  color: white;
  border-color: #ff5300;
}

#avatar-logo:hover {
  transform: scale(1.3);
}

.right-container > img {
  border-radius: 50%;

  height: 40px;
  width: 40px;

  border-style: solid;
  border-width: 1px;
}

.logo-container {
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.4);
  background-color: white;

  border-radius: 45px;

  height: 90px;
  width: 200px;

  margin-left: 5%;
  margin-top: 55px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container > img {
  border-width: 1px;
  height: 75px;
  width: 160px;
}

.parent-div {
  width: 100%;
  height: 800px;
  display: flex;
}

.banner-container {
  width: 100%;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container > img {
  width: 100%;
  height: 500px;
  
  filter: brightness(40%);

  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

.catchline-container {
  height: 350px;
  width: 680px;
  /*
  box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.4);
  */
  border-radius: 20px;

  position: absolute;
  top: 120px;
  box-sizing: border-box;
  padding: 20px;

}

.catchline-container > h1 {
  text-align: center;
  color: #ffa800;
  font-family: "Outfit";
  font-size: 40px;

}

.catchline-container > p{
  text-align: justify;
  font-family: "Outfit";
  color: white;
  font-size: 20px;
}

.reviews-title-placeholder {
  color: black;
  font-family: "Outfit";
  font-size: 40px;

  text-align: center;
    position: absolute;
    top: 680px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}

.left-section {
  width: 60%;
  height: 800px;
}

.imgdiv {
  box-sizing: border-box; /* to prevent padding from making the div bigger*/
  width: 100%;
  height: 620px;

  padding-left: 150px;
  padding-top: 100px;
}

.imgdiv > img {
  height: 500px;
  width: 680px;

  border: 5px solid #ffa800;

  border-radius: 30px;
}

.buttondiv {
  width: 100%;
  height: 200px;

  box-sizing: border-box; /* to prevent padding from making the div bigger*/
  padding-left: 150px;
  padding-top: 50px;
}

.establishments-button {
  position: absolute;
  top: 810px;
  left: 150px;

  border-radius: 30px;
  width: 690px;
  height: 60px;

  border-width: 0px;

  background-color: #ffa800;

  color: white;

  font-family: "Outfit";
  font-size: 30px;

  box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.1);
}

.establishments-button:hover {
  transform: scale(1.05);
  background-color: #ff5300;
}

#previous-button {
  border-color: black;
  border-width: 1px;
  border-radius: 30px;
  border-style: solid;
  /*padding: 13px 50px;*/
  height: 50px;
  width: 200px;
  background-color: white;
  text-align: center;
  color: black;
  margin-right: 10px;
}

#previous-button:hover {
  background-color: #ffa800;
  color: white;
  border-color: #ffa800;
}

#next-button:hover {
  background-color: #ffa800;
  color: white;
  border-color: #ffa800;
}

#next-button {
  border-color: black;
  border-width: 1px;
  border-radius: 30px;
  border-style: solid;
  /*padding: 13px 50px;*/
  height: 50px;
  width: 200px;
  background-color: white;
  text-align: center;
  color: black;

  position: absolute;
  left: 640px;

  margin-right: 10px;
}

.right-section {
  width: 40%;
  height: 800px;

  padding-top: 20px;

  display: block;
}

.restotitle-parent {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
}

.restotitle-container {
  background-color: #ff5300;
  width: 450px;
  height: 80px;

  margin-top: 80px;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.restotitle-container > h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.review-title-container {
  width: 450px;
  height: 50px;
  margin: auto;

  box-sizing: border-box; /* to prevent padding from making the div bigger*/

  border-bottom: 3px solid black;
}

.review-title-container > h2 {
  margin: 0;
  font-family: "Outfit";
}

.reviews-cotainer {
  width: 450px;
  height: 630px;

  margin: auto;

  display: block;
}

.review-popup {
  background-color: #f1e4e4;
  width: 380px;
  height: 150px;

  display: flex;

  border-radius: 35px;

  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.4);

  box-sizing: border-box; /* to prevent padding from making the div bigger*/
}

.review-popup:hover {
  transform: scale(1.1);
}

#first-review > h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}

#third-review > h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
}

#first-review {
  margin-top: 20px;
  padding-right: 50px;
}

#third-review {
  padding-right: 50px;
}

#second-review {
  padding-left: 50px;
}

#first-review,
#second-review {
  margin-bottom: 20px;
}

#second-review {
  margin-left: auto;
}

.left-review-popup-odd {
  width: 114px;
  height: 150px;

  display: flex;
  justify-content: center;

  padding-top: 25px;
}

.left-review-popup-odd > img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.right-review-popup-odd {
  width: 266px;
  height: 150px;
  display: block;
}

.left-review-popup-even > h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.left-review-popup-even > p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.right-review-popup-odd > h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2px;
  margin-top: 20px;
}

.right-review-popup-odd > p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.checked {
  color: orange;
}

.left-review-popup-even {
  width: 266px;
  height: 150px;

  text-align: right;
}

.right-review-popup-even {
  width: 114px;
  height: 150px;

  display: flex;
  justify-content: center;

  box-sizing: border-box; /* to prevent padding from making the div bigger*/
  padding-top: 25px;
}

.right-review-popup-even > img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.popup-login {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 1100px;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-login-content {
  height: 300px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;

  box-sizing: border-box; /* to prevent padding from making the div bigger*/
  padding: 50px;

  border: 2px solid #ffa800;

  position: relative;
}

.popup-login-content > img {
  height: 50px;
  width: 100px;
}

.popup-login-content > input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  border-width: 1px;

  margin: 20px auto;
  display: block;

  box-sizing: border-box; /* to prevent padding from making the div bigger*/
  padding-left: 5px;
}

.popup-login-content > h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: absolute;
  top: -65px;
  right: -40px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffa800;

  cursor: pointer;
}

.login-button {
  font-family: Arial, Helvetica, sans-serif;
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  padding: 5px 10px;
  background-color: white;
  text-align: center;
  color: black;
  font-size: 15px;
  margin-left: 10px;
}

.login-button:hover {
  background-color: #ffa800;
  color: white;
  border-color: #ffa800;
}

.popup-signup {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 1100px;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-signup-content {
  height: 300px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;

  box-sizing: border-box; /* to prevent padding from making the div bigger*/
  padding: 15px;

  border: 2px solid #ffa800;

  position: relative;
}

.popup-signup-content > img {
  height: 50px;
  width: 100px;
}

.popup-signup-content > input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  border-width: 1px;

  margin: 20px auto;
  display: block;

  box-sizing: border-box; /* to prevent padding from making the div bigger*/
  padding-left: 5px;
}

.popup-signup-content > h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: absolute;
  top: -65px;
  right: -40px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffa800;

  cursor: pointer;
}

#footer-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f9e075;
  border-radius: 50%;
  display: inline-block;
}

#firstdot {
  margin-left: 80px;
}

.active {
  background-color: #ffa800;
}
